@font-face {
    font-family: 'Nunito';
    src: url(Fonts/Nunito-VariableFont_wght.ttf);
}

body {
    background-color: #c9c9c9;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
img,
dd {
  margin: 0;
}
p {
    padding: 1.5rem;
    color:#000;
    font-family: Nunito;
}
header {
    color: #000;
    font-family:'Courier New';
}
h1{
  color: #000;
  font-family:'Courier New';
}
img {
    width: 100%;
    border-radius: 0.5rem;
    height: auto;
    display: block;
}

.heroimg{
    width: 100vw;
    height: 30vh;
    border-radius: 0.5rem;
    display: block;
}

.manufactuerimg{
    width: 50vw;
    border-radius: 0.5rem;
    height: auto;
    display: block;
    box-shadow:0px 4px 8px #5FBBCC;
}
.manufactuer{
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
     'one'
     'two'
     'three'
     'four';
  
    background-color: #c9c9c9;
    width: 49vw;
  }

.manufactuer:nth-child(1){
    grid-area:one;
}

.manufactuer:nth-child(2){
    grid-area:two;
}  

.manufactuer:nth-child(3){
    grid-area:three;
}  

.manufactuer:nth-child(4){
    grid-area:four;
}  

.manufactuer{
    grid-template-areas: 
    'one two'
    'three four'
    ;

}

.ride{
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
     'one'
     'two'
     'three'
     'four';
  
    padding-block: 2rem;
    background-color: #6d6d6d;
  }

.ride:nth-child(1){
    grid-area:one;
}

.ride:nth-child(2){
    grid-area:two;
}  

.ride:nth-child(3){
    grid-area:three;
}  

.ride:nth-child(4){
    grid-area:four;
}  
.ride:nth-child(5){
    grid-area:five;
}  
.ride:nth-child(6){
    grid-area:six;
}  
.ride:nth-child(7){
    grid-area:seven;
}  
.ride:nth-child(8){
    grid-area:eight;
}  

.ride{
    grid-template-areas: 
    'one two'
    'four three'
    'five six'
    'eight seven'
    ;

}

.logo{
    background-color: #5FBBCC;
}

.writing{
    background-color: #efefef;
    height:200px;
    box-shadow:0px 4px 8px #5FBBCC;
    border-radius: 0.5rem;
}
.hero-grid{
    display: grid;
    gap: 1.5rem;
    padding-bottom: 0.5rem;
    grid-template-areas:
     'one';
    background-color: #c9c9c9;
    width: 100vw;

}

.hero-grid:nth-child(1){
    grid-area:one
}

.hero-grid{
    grid-template-areas: 
    "one";

}

/* colours
5FBBCC
c9c9c9
464646